		<noscript>Esta página requiere de javascript activo para el uso de campos dinámicos y validación del formulario</noscript>
		<input type="hidden" id="dishId" name="dish[id]" value="<%= dish.id %>" />
		<label for="name" class="float">Nombre del plato:</label>
		<input type="text" id="name" class="float" name="dish[name]" value="<%= dish.name %>" />
		<label for="selectType" class="float">Tipo:</label>
		<select name="dish[type]" id="selectType" class="float">
			<% for (var t in types) { %>
			<option value="<%= t %>"><%= types[t] %></option>
			<% } %>
		</select>
		<script>
			<% if (dish.type !== undefined && dish.type !== null) { %>
			document.getElementById("selectType").value="<%= dish.type %>";
			<% } else { %>
			document.getElementById("selectType").value="1";
			<% } %>
		</script>
		<label for="description" class="float-clear">Descripción:</label>
		<input type="textArea" rows="5" cols="80" class="float"
				id="description" name="dish[description]" value="<%= dish.description %>" />
		<div id="div-multi-components">
			<div class="multi-select-container">
				<label for="selectCategories" class="block-label">Categorias</label>
				<select name="dish[categories]" id="selectCategories" class="bordered" multiple="true">
					<% for (var c in categories) { %>
					<option value="<%= c %>" 
					  <% if (dish.categories instanceof(Array) && dish.categories.indexOf(+c) !== -1) { 
				        %>selected="true"
				      <% } %>
				    ><%= categories[c] %></option>
					<% } %>
				</select>
			</div>
			<div class="multi-select-container">
				<label for="components" class="block-label">Componentes</label>
				<fieldset id="components" class="bordered">
					<input list="componentList" id="componentInputList" class="multi-select-input">
					<datalist id="componentList">
						<% for (var c in componentHints) { %>
						<option value="<%= componentHints[c] %>"></option>
						<% } %>
					</datalist>
					<button type="button" class="button multi-select-add-button"
							onclick="addOption(
								document.getElementById('selectComponents'), document.getElementById('componentInputList').value)">
						Añadir
					</button>
					<select name="dish[components]" id="selectComponents" class="multi-select-select" size="5" multiple="true">
						<% for (var c in dish.components) { %>
							<option value="<%= dish.components[c] %>">
								<%= dish.components[c] %>
							</option>
						<% } %>
					</select>
					<button type="button" class="button multi-select-remove-button"
							onclick="removeOptions(document.getElementById('selectComponents'))">
							Eliminar
					</button>
				</fieldset>
			</div>
			<div class="multi-select-container">
				<label for="allergenics" class="block-label">Alérgenos</label>
				<fieldset id="allergenics" class="bordered">
					<input list="allergenicList" id="allergenicInputList" class="multi-select-input">
					<datalist id="allergenicList">
						<% for (var a in allergenicHints) { %>
						<option value="<%= allergenicHints[a] %>"></option>
						<% } %>
					</datalist>
					<button type="button" class="button multi-select-add-button"
							onclick="addOption(
								document.getElementById('selectAllergenics'),
								document.getElementById('allergenicInputList').value)">
						Añadir
					</button>
					<br>
					<select name="dish[allergenics]" id="selectAllergenics" class="multi-select-select" size="5" multiple="true">
						<% for (var a in dish.allergenics) { %>
						<option value="<%= dish.allergenics[a] %>">
							<%= dish.allergenics[a] %>
						</option>
						<% } %>
					</select>
					<button type="button" class="button multi-select-remove-button"
							onclick="removeOptions(document.getElementById('selectAllergenics'))">
						Eliminar
					</button>
				</fieldset>
			</div>
			<script src="/javascripts/select.js"></script>
		</div>
		<div id="div-pricing">
			<label for="pricing" class="block-label">Precios</label>
			<fieldset id="pricing" class="bordered">
				<div id="pricingTable" class="table">
					<div id="pricingHeader" class="tableHeaderRow">
						<div>Concepto</div>
						<div>Importe</div>
						<div>Moneda</div>
						<div>Acciones</div>
					</div>
					<% if (dish.Prices instanceof Object){
						for (var i = 0; i < dish.Prices.length; i++) { %>
					<div class="tableBodyRow" id="pricingRow<%= i %>">
						<div class="tableBodyRow">
							<input name="dish[Prices][<%= i %>][concept]"
								   type="text" value="<%= dish.Prices[i].concept %>">
						</div>
						<div class="tableBodyRow">
							<input name="dish[Prices][<%= i %>][price]" 
									type="text" value="<%= dish.Prices[i].price %>">
						</div>
						<div class="tableBodyRow">
							<input name="dish[Prices][<%= i %>][currency]" 
									type="text" value="<%= dish.Prices[i].currency %>">
						</div>
						<div class="tableBodyRow">
							<button class="button" type="button"
								onclick="_prices.confirmDelete('pricingTable', 'pricingRow<%= i %>')">
								Eliminar
							</button>
						</div>
					</div>
						<% } %>
					<% } %>
				</div>
				<button type="button" id="buttonAddPricingRow" class="button" onclick="_prices.addPricingRow();">
					Añadir precio
				</button>
			</fieldset>
		</div>
		<script src="/javascripts/prices.js"></script>
		<script>
			var _prices = prices(
				<%= ((dish.Prices instanceof Object)? dish.Prices.length : 0) %>,//pricesLength
				'<%= global.config.defaultCurrency.toString() %>', //defaultCurrency, 
				'pricingTable' //pricingTable
			);
		</script>
		<div id="divGallery">
			<label for="gallery" class="block-label">Galería</label>
			<fieldset id="gallery" class="bordered">
				<div class="zero-box">
					<div id="div-gallery-content">
					</div>
					<button type="button" id="buttonAddImage" class="button"
							onclick="_gallery.addImage();">
						Añadir imágen
					</button>
				</div>
				<img id="imagePreview" style="display:none" />
			</fieldset>
		</div>
		<script src="/javascripts/gallery.js"></script>
		<script>
			var _gallery = gallery('div-gallery-content', 'imagePreview');
			<% if (dish.Images !== undefined) { %>
				_gallery.initImages('<%- JSON.stringify(dish.Images) %>');
			<% } %>
		</script>
		<div display="block">
			<a href="/dishes">
				<button type="button" class="button" name="Cancel">Cancelar</button>
			</a>
			<button type="button" class="button" name="Salvar" onclick="submitForm()">Salvar</button>
			
		</div>
		<script>
			/** Select all options on select controls with multiple=true to pass all values*/
			function selectAllOptions(selectId){
				var options = document.getElementById(selectId).options;
				var i;
				for (i=0; i < options.length; i++){
					options[i].selected = true;
				}
			}
			//submit
			function submitForm(){
				selectAllOptions('selectComponents');
				selectAllOptions('selectAllergenics');
				document.getElementById('dishForm').submit();
			}
		</script>
