<!-- stringify content from text files. TODO retrieve data from controller -->
<% if (dish !== undefined && dish !== null) { %>
	<h1><%= dish.name %></h1>
	<div class="image">
		<a href="<%= dish.imageLink %>" title="<%= dish.imageDescription %>">
			<img src="<%= dish.imageSource %>" alt="<%= dish.imageDescription %>">
		</a>
	</div>
	<div class="dishData">
		<div class="dish-type"><strong>Tipo </strong><%= dish.Type.text %></div>
		<div class="dish-categories">
			<strong>Categorias</strong>
			<ul>
				<% for (var i = 0; i < dish.Categories.length; i++){ %>
				<li class="tag"><%= dish.Categories[i].text %></li>
				<% } %>
			</ul>
		</div>
		<div class="dishDescription">
			<strong>Descripción</strong>
			<p><%= dish.description %></p>
		</div>
		<div class="dishComponents">
			<strong>Componentes</strong>
			<ul>
				<% for (var i = 0; i < dish.components.length; i++){ %>
				<li class="tag"><%= dish.components[i] %></li>
				<% } %>
			</ul>
		</div>
		<div class="dishAllergenics">
			<strong>Alérgenos</strong>
			<ul>
				<% for (var i = 0; i < dish.allergenics.length; i++) { %>
				<li class="tag"><%= dish.allergenics[i] %></li>
				<% } %>
			</ul>
		</div>
		<div class="dishPricing">
			<strong>Precios</strong>
			<% for (var i = 0; i < dish.Prices.length; i++) { %>
			<div>
				<span><%= dish.Prices[i].concept %></span>
				<span><%= dish.Prices[i].price %>€</span>
			</div>
			<% } %>
		</div>
		<div class="dish-gallery">
			<strong>Galería</strong>
			<% for (var i = 0; i < dish.Images.length; i++) { %>
			<a href="<%= dish.Images[i].link %>" title="<%= dish.Images[i].description %>">
				<img src="<%= dish.Images[i].source %>" alt="<%= dish.Images[i].description %>">
			</a>
			<% } %>
		</div>
	</div>
<% } %>
